* {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: TrojaMon;
  src: url(TrojaMon3.ttf);
}

@font-face {
  font-family: Hack;
  src: url(hack.otf);
}

@font-face {
  font-family: Term;
  src: url(terminus.otf);
}

@font-face {
  font-family: Incon;
  src: url(Inconsolata.otf);
}

body {
  background: #000;
  font-size: 1.3em;
  letter-spacing: -0.1em;
}

section, footer {
  position: relative;
  margin: 1.3em;
  margin-bottom: 3em;
}

a {
  font-weight: bold;
  text-decoration: none;
}

footer p {
  text-align: right;
  margin-right: 0;
}

p {
  text-shadow: 1px 1px 2px #000; 
}

h1 {
  font-size: 3em;
  margin-left: 21px;
}

h2 {
  margin-bottom: 0.4em;
}

.desc {
  margin-bottom: 0.7em;
}

.stack {
  margin-top: 0.7em;
}

.imgs {
  position: absolute;
  bottom: 0;
  right: 0;
}

.imgs img {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  z-index: -1;
}

.incon { font-family: Incon; }
.term { font-family: Term; }
.hack { font-family: Hack; }
.troja { font-family: TrojaMon; }

@media only screen and (min-width: 600px) {

h1, h2, p {
  margin-right: 17em;
}

}
