* {
    margin: 0;
    padding: 8px;
}

h3 {
    font-family: sans-serif;
}

section, a, i {
    padding: 0;
}

section {
    padding-bottom: 8px;
}

article {
    width: 89%;
}

h3 {
    padding-bottom: 0;
}

section p, section ul {
    padding-top: 0;
    padding-bottom: 0;
}

li {
    list-style-type: none;
    padding: 0;
}